<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket_type.title %>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
