<div class="site_form">
  <h3>Настройки</h3>
  <div class="row">
    <div class="col col-12">
      <span>Сменить пароль</span>
    </div>
    <div class="col col-12">
      <%= form_for [@account, @password] do |f| %>
        <%= f.password_field :secret %><br>
        <%= f.submit "ОК" %>
      <% end %>
    </div>
  </div>
</div>
