<div class="site_form">
  <h3>Настройки</h3>
  <ul>
    <li><%= link_to "Статусы заявок", statuses_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Типы заявок", ticket_types_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Бригады", brigades_path, class: "btn btn-primary" %></li>
  </ul>
</div>
