<p>
  <strong>Title:</strong>
  <%= @role.title %>
</p>

<p>
  <strong>Permissions:</strong>
  <%= @role.permissions %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
